main > div{
    width: 30px;
    height: 30px;
    margin: 5px;
    border-style: solid;
    border-color: black;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    float: left;
}
main > button{
    text-transform: uppercase;
    margin: 5px;
}
main{
    display: table;
    content: "";
    clear: both;
    width: 30%;
    margin: 10px auto;
}