body{
    width: 50%;
    margin: auto;
    border-radius: 5px;
    padding: 10px;
    border-style: groove;
    border-width: 7px;
}
#main > button{
    background-color: white;
    border-style: solid;
    border-color: black;
    text-align: center;
    width: 50px;
    margin: 5px auto;
}
#main > div >, #main > div:not(){
 float: left;
}
#main > button:hover{
    background-color: rgba(0, 0, 0, 0.37);
}
#caja{
    width: 50%;
    margin: auto;
}
#footer > button{
    text-transform: uppercase;
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin: 5px;
}
#footer > button:hover{
    background-color: rgba(0, 0, 0, 0.082);
    color: black;
}
header{
    height: 30vh;
    border-style: solid;
    border-color: black;
    background-color: azure;
    border-width: 15px;
    border-radius: 5px;
}